(
    parts: {
        "trunk": (
            render: (
                mesh_processor: Code(
                    name: "extract_trunk",
                ),
                shader: "tree_trunk",
            ),
        ),
    },
)
