((
    //draw: [FillColor(0xfefcefff)],
    layout: [Horizontal, Expand, Align(Start), Padding((50, 50, 120, 120))]
), [
    ((
        layout: [Vertical, Gap(0.0), Align(SpaceBetween)]
    ), [
        ((
            layout: [Vertical, XAlign(Center)],
            slot: "logo",
        )),

        /* ((
            layout: [Vertical, XAlign(Center), Gap(30)],
            slot: "question",
        )), */

            ((
                layout: [Vertical, XAlign(Center), Gap(30)],
            ), [

                (Label:(
                    text: "t!(Menu.QuitToDesktop)",
                    color: 0xffffffe0,
                    align: Center,
                    size: 60,
                    weight: Bold,
                    font: MenuButton,
                    max_width: 450,
                )),

                (Label:(
                    text: "t!(Menu.YourGameIsSaved)",
                    color: 0xffffffe0,
                    align: Center,
                    size: 28,
                    font: MenuButton,
                )),
            ]),

        ((
            //draw: [FillColor(0xff000080), CornerRadius(20)],
            //draw: [Image(source: "menu/paper-bg", scaling: Nine)],
            layout: [Vertical, XAlign(Center), Padding((50, 50, 0, 0))]
        ), [
            ((slot: "buttons", /* draw: [FillColor(0xffffff40)],  */layout: [Vertical, Align(Center), XAlign(Center), Gap(25.0)])),
        ]),
    ]),
])

// Social media icons section
/* ((
    layout: [Vertical, Align(End)],// draw: [FillColor(0xff00ff80)]
), [
    ((
        //draw: [FillColor(0xffffff10)],
        layout: [Gap(40)]
    ), [
        ((draw: [FillColor(0xffffff20), CornerRadius(40)], layout: [Size(80, 80)])),
        ((draw: [FillColor(0xffffff20), CornerRadius(40)], layout: [Size(80, 80)])),
    ]),
]) */
