((
    // Offset to the right
    layout: [Padding((60, 0, 0, 0))]
), [
    ((
        draw: [FillColor(0x00000080), CornerRadius(10)],
        layout: [Horizontal, Padding((20, 20, 10, 10))],
    ), [
        (Label:(
            text: "🔒️",
            size: 36,
        )),

        (Label:(
            text: "t!(PhotoMode.ComingInTheFullGame)",
            color: 0xffffffff,
            align: Center,
            size: 40,
            font: Hand,
            max_width: 450,
        )),
    ])
])
