((
    //draw: [FillColor(0xffff0028)],
    layout: [Vertical, Expand, Align(Center), XAlign(Center), Padding((0, 40, 0, 100))]
), [
    ((
        slot: "notice",
        draw: [Image(source: "menu/paper-bg", scaling: Nine)],
        layout: [Vertical, Size(550, 300), XAlign(Center), Padding((40, 40, 70, 50)), Gap(30.0)]
    ),
        [
        ((
            slot: "answer",
            layout: [Vertical, XAlign(Center), Gap(20.0)]
        ), [
        ])
        ]
    ),
])
