(
    parts: {
        "canopy": (
            render: (
                mesh: "far_distance_tree",
            ),
        ),
        "trunk": (
            render: (
                mesh: "far_distance_tree",
            ),
        ),
    },
)
