((
    //draw: [FillColor(0xffff0028)],
    layout: [Vertical, Expand, Align(Center), XAlign(Center), Padding((0, 40, 0, 100))]
), [
    ((
        slot: "notice",
        draw: [Image(source: "menu/paper-bg", scaling: Nine)],
        layout: [Vertical, Size(750, 200), XAlign(Center), Padding((100, 100, 80, 80)), Gap(30.0)]
    ),
        [
            (Label:(
            text: "To find your screenshots, press Shift+Tab, and look for \"Recordings and Screenshots\" at the bottom of the Steam overlay.\n\nGeForce NOW deletes local screenshots\nat the end of your session, so upload them to the cloud by using \"Share on Steam.\"",
            color: 0x7b5a51ff,
            align: Center,
            size: 40,
            font: MenuButton,
            max_width: 800,
            )),

            ((
                slot: "answer",
                draw: [
                FillColor(0x000000b0), CornerRadius(15)
                ],
                layout: [Horizontal, Align(Center), Gap(100.0), Padding((15, 15, 4, 4))]
            ), [])
        ]
    ),
])
