(
    parts: {
        "canopy": (
            render: (
                mesh: "mid_distance_tree_v2",
            ),
        ),
        "trunk": (
            render: (
                mesh: "mid_distance_tree_v2_trunk",
            ),
        ),
    },
)
