(
    parts: {
        "canopy": (
            render: (
                mesh: "mid_tree_v4",
            ),
        ),
        "trunk": (
            render: (
                mesh: "mid_tree_v4_trunk",
            ),
        ),
    },
)
