(
    parts: {
        "canopy": (
            render: (
                mesh: "mid_tree_v5",
            ),
        ),
        "trunk": (
            render: (
                mesh: "mid_tree_v5_trunk",
            ),
        ),
    },
)
